.card {
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    border-radius: 10px;
    max-width: 600px;
    max-height: fit-content;
    background-color: #262626;

}

.card-header {
    background-color: #f8f9fa;
    border-bottom: 1px solid #e9ecef;
    padding: 10px;
    border-radius: 10px 10px 0 0;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
}

.card-content {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    height: 100%;
}

.form-element-div {
    position: relative;
    margin-top: 10px;
}

.form-element-div label {
    position: absolute;
    left: 10px;
    top: 10px;
    transition: top 0.3s, font-size 0.3s;
    pointer-events: none;
    width: max-content;
    color: rgb(193, 193, 193);
    font-weight: bold;
    font-size: small;
}

.form-select {
    display: flex;
    width: 80%;
}

input:focus {
    outline: none;

}

.focused+label,
input:focus+label {
    top: -10px;
    font-size: 12px;
    border: none;
    outline: none;
}

.input-wrapper {
    position: relative;
    margin-bottom: 10px;
}

.label {
    position: absolute;
    top: 10px;
    left: 10px;
    transition: top 0.3s, font-size 0.3s;
}


form {
    display: flex;
    gap: 10px;
    max-height: min-content;
    justify-content: center;
    align-items: center;
    margin-right: 0px;
}
form select{
    width: fit-content;
}
.input-error-msg{
    color: red;
    font-size: small;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;

}

.input-error-msg p {
    margin: 0;
    width: fit-content;

}

.form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 0 0 10px;
    gap: 20px;
    padding: 15px 0 15px 0;
}

.form-select-other {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #e9ecef;
    padding: 0 10px 0 10px;
    min-width: fit-content;
    border-radius: 10px;

}

.form-select-other button {
    padding: 10px;
    border: none;
    background-color: inherit;
    color: inherit;
    cursor: pointer;
}

.form-select-other button:hover {
    text-decoration-line: underline;
}

form .submit-btn {
    max-width: fit-content;
    border: none;
    padding: 10px;
    border-radius: 10px;
}

form .submit-btn:hover {
    background-color: #595958;
    color: white;
}