/* Modal.css */
.modal-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    background-color: rgba(58, 58, 58, 0.358);
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modal-content {
    color: black;
    background: rgba(255, 255, 255, 0.855);
    padding: 10px 20px 0 20px;
    border-radius: 8px;
    position: relative;
    min-width: 300px;
    height: 100%;
    width: 100%;

    overflow-y: auto;
    gap: 10px;
  }
  
  .modal-close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: transparent;
    border: none;
    font-size: 24px;
    cursor: pointer;
  }

  button{
    width: fit-content;
    padding: 2%;
  }
  .modal-row-team{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    gap: 2px;
  }
  .modal-row-team input{
    width: 50px;
  }