:root {
    body {
        width: 100%;
        background-color: rgb(26, 26, 26);
        /* display: flex; */
        justify-content: center;
        flex-wrap: wrap;
        color: rgb(255, 255, 255);
        align-items: center;
        font-family: system-ui, -apple-system;
        /* background: no-repeat center/80% url('../public/logoCopaAmerica.png'); */
    }
    p{
        width: fit-content;
    };
    form{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 15px;
    }
    .card{
        margin-top: 10px;
        color: white;
        backdrop-filter: blur(10px);
        background-color: rgba(117, 117, 117, 0.292);
    /* box-shadow: 0px 0px 5px 0px rgb(255, 255, 255); */
    }
    .card-container:hover{
        transform:scale(1.1);
    }
    #header-container{
        height:70px;
        width: 100%;
        display: flex;
        /* justify-content: center; */
        align-items: center;
        /* background-color: rgba(0, 0, 0, 0.8); */
        background-color: rgb(26, 26, 26, 0.8);
        padding: 0 20px 0 20px;
        position: sticky;
        top: 0;
        backdrop-filter: blur(10px);
    }

    #appContainer {
        margin: 0;
        background-color: inherit;
        font-family: system-ui, -apple-system;
        display: grid;
        place-content: center;
    }

    .form-element-div input {
        width: 100%;
        padding: 10px;
        border: none;
        border-bottom: 1px solid rgb(193, 193, 193);
        font-size: 16px;
        background-color: inherit;
        color: white;
        margin-bottom: 0;
    }

    .matchCard-container{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap:wrap;
        margin-top: 20px;
        gap: 20px;
        width: 100%;
        margin-top: 40px;

    }
    .match-group-container{
        display: flex;
        justify-content: center;
        gap: 50px;
        padding-top: 30px;
        padding-bottom: 30px;
        /* border-bottom: 0.5px solid rgba(193, 193, 193, 0.405); */
        box-shadow: 0px 0px 4px 0px rgba(193, 193, 193, 0.371);
    }
    .landing-container{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap:nowrap;
        margin-bottom: 100px;
        gap: 20px;
        flex-direction: column;
    }
    .ranking-row{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
        width: 100%;
    }
    .makePrediction-div{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
        gap: 15px;
    }

    .makePrediction-row{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        width: 100%;
        gap: 10px;
    }
    .makePrediction-column{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        width: 100%;
        gap: 15px;
    }
    .makePrediction-column input{
        width: 40px;
        border-radius: 5px;
    }

    h1{

        display: flex;
        justify-content: center
    }

    .prediction-statistics-div{
        height: fit-content;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgba(117, 117, 117,0.4);
        padding: 50px 0 50px 0;
    }
    .prediction-statistics-card{
        width: 100%;
        max-width: 500px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
        padding: 2%;
        background-color: rgb(26, 26, 26);

    }
    .prediction-statistics-card .card-body{
        width: 100%;
        gap: 15px;
        display: flex;
        flex-direction: column;
    }
    .card-body-header{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .teams-prediction-porcentaje{
        display: flex;
        justify-content:space-between;
        align-items: center;
        width: 100%;
    }
    .porcentaje-div{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .card-body-header p, .porcentaje-div p{
        color: rgb(165, 165, 165);
    }
    .teamInfo{
        height: fit-content;
    }

}

a {
    color: inherit;
    text-decoration: none;
}

#appContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: inherit;
}

.prediction-info-div{
    display: flex;
    width: 100%;
    height: fit-content;
    background-color:inherit;
    flex-direction: column;
}   
.prediction-column-div{
    display: flex;
    flex-direction: column;
    height: fit-content;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.prediction-column-div img{
    width: 100%;
    object-fit: cover;
}
.prediction-info-img{
    width: 100%;
    height: inherit;
    position: absolute;
    opacity: 0.5;
    object-fit:cover;
}
.header-info{
    width: 100%;
    height:fit-content;
    color: rgb(255, 255, 255);

}
.teams-info-div{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: auto;
    height: fit-content;
}

@media (prefers-color-scheme: dark) {
    html {
        color-scheme: dark;
    }
}



